.cardContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #6e7f41;
    border-radius: 5px;
    background-color: #e5e5e5;
    color: #53443b;
    align-items: center;
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    width: 250px;
    height: 400px;
    /* height:fit-content; */
    padding: 1rem 1rem 1rem 1rem;
    /* margin: 1rem 1rem 1rem 1rem; */

}

.cardImage {
    max-width:fit-content;
    max-height: 150px;
    border-radius: 5px;
}

.link div:hover {
    border: 2px solid #b5f506;
}