.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    width: 100%;
    /* border: 2px solid black; */
    box-sizing: border-box;
    background-color: #F0EAD2;
}

.formContainer {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1rem;

}

.formContainer h2 {
    font-size: 50px;
}

.errorMsg {
    color: brown;
}

.errorInput {
    border-radius: 3px;
    height: 30px;
    border-bottom: 2px solid rgb(255, 0, 0);
    padding: 10px 10px 10px 10px;
    font-size: large;
}

.formContainer button {
    cursor: pointer;
    border: none;
    background-color: #A98467;
    padding: 7px 7px 7px 7px;
    /* border-bottom: 2px solid black; */
}

input {
    border-radius: 3px;
    height: 10px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    border: none;
    border-bottom: 2px solid black;
}

.input input:focus {
    border-radius: 3px;
    height: 30px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    border: none;
    border-bottom: 2px solid black;  
}


.formContainer input[type=number] {
    width: 70px;
    text-align: center;
}

.formContainer input[type=text] {
    width: 400px;
}

.submitReset {
    display: flex;
    justify-content: center;
}

.submitReset input {
    border: 2px solid black;
    height: 40px;
    padding: 0 1rem 0 1rem;
    margin: 0 1rem 0 1rem;
    cursor: pointer;

}

.submitReset input:hover {
    background-color: #9ab64b;
}

.videoContainer video {
    width: 99%;
    padding: 0rem 2rem 2rem 2rem;
}

.videoContainer {
    display: flex;
    /* border: 2px solid black; */
    border-radius: 10px;
    max-width: 15%;
    height: 10%;
    justify-content: space-evenly;
    
}