.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardsContainer a {
    margin: 1rem 1rem 1rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}