.CardImage {
    width: 50vw;
    max-height: 75vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 500px;
    /* width: 800px; */
}

.imgContainer{
    display: flex;
    justify-content: center;
    width: 50vw;
}

.container h2 {
    font-size: 60px;
    text-decoration: none;
}

.imgContainer img {
    border-radius: 5px;
    max-width: fit-content;
}

.container p {
    font-size: 20px;
}

.options {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}